<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">

{% seo %}
    <link rel="stylesheet" href="{{ "./assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <style>
        .logo { max-width: 200px; }
    </style>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <p>
            <img src="assets/images/bcXZnjdP_400x400.jpg" alt="MODUinfra Logo" class="logo">
        </p>        
        <p>
          <a href="/index.html" alt="HOME">■ HOME</a><br>
          <a href="/privacy.html" alt="개인정보보호방침(Privacy Policy)">■ 개인정보보호방침(Privacy Policy)</a><br>
          <a href="/terms.html" alt="이용약관(Terms of Service)">■ 이용약관(Terms of Service)</a>
        </p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist" target="_new">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
